.imagen_musculacion{
    width: 100%;
}
.texto_musculacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
        font-size: xxx-large;
        align-self: center;
        font-weight: normal;
    }
    .container_musculacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .lorem_telas{
            padding: 10px;
        }
    }
    .boton_actividades{
        font-size: xx-large;
        border: 1px solid black;
        background: $colorBotones;
        align-self: center;
        color: white;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 10px;
        transition: transform 0.15s;
        &:hover{
            transform: scale(1.01);
        }
        
    }
    
}
.imagen_kickboxing{
    width: 100%;
}

.texto_kickboxing{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .container_musculacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        h2{
            font-size: xxx-large;
            align-self: center;
            font-weight: normal;
        }
        .lorem_kickboxing{
            padding: 10px;
        }
    }
    .boton_actividades{
        font-size: xx-large;
        border: 1px solid black;
        background:  $colorBotones;
        align-self: center;
        color: white;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 10px;
        transition: transform 0.15s;
        &:hover{
            transform: scale(1.01);
        }
        
    }
}

.imagen_telas{
    width: 100%;
    margin-bottom: 10px;
}

.texto_telas{
    display: flex;
    flex-direction: column;
    
    .container_musculacion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        h2{
            font-size: xxx-large;
            align-self: center;
            font-weight: normal;
        }
        .lorem_kickboxing{
            padding: 10px;
        }
    }
    .boton_actividades{
        font-size: xx-large;
        border: 1px solid black;
        background:  $colorBotones;
        align-self: center;
        color: white;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 10px;
        transition: transform 0.15s;
        &:hover{
            transform: scale(1.01);
        }
        
    }
}
.colorazul{
    color: rgb(0, 44, 148);
    font-weight: bolder;
}
@media (max-width: 768px) {
    .coluna{
        order: -1;
    }
  }