footer{
    display: flex;
    width: 100%;
    background-color: rgb(36, 31, 33);
    flex-direction: column;
    .lista_footer{
        color: white;
        list-style-type: none;
        padding: 5px;
        margin-inline: 15px;
        font-size:medium;
        
        
        
    }
    .logo_footer{
        max-width: 100%;
        scale: 85%;
    }
    a:hover{
        color: rgba(0,168,243,1); 
    }
    .imageness{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        
        
        img{
            width: 2rem;
            height: 2rem;
            
        }
        
    }
    
}

@media (max-width: 767px) {
    .logo_footer{
        width: 0%;
    }
}
@media (max-width: 768px) {
    .imageness{
        
        margin-bottom: 10px;
    }
}

  