header{

    display: flex;
    max-width: 100%;
    position: sticky;
    top:0;
    background-color: white;
    /* border-bottom: 15px solid rgb(36, 31, 33); */
    z-index: 1;
    
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .navbar-brand{
        font-size: xx-large;
        
    }
}

.navbar-brand{
    font-size: xx-large;
    
}