.hero{
    background-image: url(../imagenes/hero.jpg);
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    .botonaso{
        font-size: xx-large;
        border: 1px solid black;
        background: $colorBotones;
        align-self: end;
        color: white;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 10px;
        transition: transform 0.15s;
        &:hover{
            transform: scale(1.01);
        }
    }
    
}
