@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/hero";
@import "./partials/map";
@import "./partials/footer";
@import "./partials/actividades";
@import "./partials/nosotros";
@import "./partials/contactanos";
@import "./partials/inscripcion";
@import "./partials/extras";